{% extends "mainpage.html"%}

{% block main_container %}
<div class="container">
    <p>faq</p>
    
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col-12">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Q." preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="5%" y="50%" fill="#eceeef" dy=".3em">Q.여기는 어디인가요?</text></svg>
        <div class="card-body">
          <p class="card-text">A. 아 안심하세요 여기는 병원입니다.</p>
        </div>
      </div>
    </div>
    <div class="col-12">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Q." preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="5%" y="50%" fill="#eceeef" dy=".3em">Q.감각이 없으니 어떻게 된 일이오?</text></svg>
          <div class="card-body">
            <p class="card-text">A. 긴급하게 지혈을 했고 수술을 했습니다.</p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Q." preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="5%" y="50%" fill="#eceeef" dy=".3em">Q.그게 무슨 소리오?</text></svg>
          <div class="card-body">
            <p class="card-text">A. 선생님께서는...</p>
          </div>
        </div>
      </div>   
  </div>

{% endblock %}