{% extends "mainpage.html"%}

{% block main_container %}
<form action="">
<h2>QnA 관리자 페이지</h2>
<div class="row">
    <div class="col-2">
      <select class="form-control" name="key_name">
        <option value="dise_name_kr" {{ 'selected' if request._query_params.key_name=='dise_name_kr' else '' }}>제목</option>

      </select>
    </div>
    <div class="col-6">
      <input class="form-control" placeholder="Enter Search!" name="search_word" value="{{request._query_params.word}}">
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary" formaction="/manag/manag_manager"
        formmethod="get" >검색</button>
    </div>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>글쓴이</th>
      <th>시간</th>
    </tr>
  </thead>
  <tbody>
    {% for QnA in QnAs %}
    <tr onclick="location.href='/manag/manag_read/{{QnA.id}}'"style="cursor: pointer;">
      <td>{{pagination.start_record_number + loop.index0}}</td>
      <td id="readpage">{{QnA.ques_title}}</td>
      <td>{{QnA.ques_writer}}</td>
      <td>{{QnA.ques_time}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item {{ '' if pagination.has_previous_block else 'disabled' }}">
      <button type="submit" class="page-link" formaction="/manag/manag_read/{{pagination.first_page}}?key_name={{ request._query_params.key_name|urlencode }}&search_word={{ search_word }}">맨 처음</button>

    </li>
    <li class="page-item {{ '' if pagination.has_previous_page else 'disabled' }}">
      <button type="submit" class="page-link"
        formaction="/manag/manag_read/{{pagination.previous_page}}?key_name={{ request._query_params.key_name|urlencode }}&search_word={{ search_word }}">이전</button>
    </li>
    {% for page_num in pagination.current_page_range %}
    <li class="page-item {{ 'active' if page_num == pagination.current_page else '' }}">
      <button type="submit" class="page-link" formaction="/manag/manag_read/{{ page_num }}?key_name={{ request._query_params.key_name|urlencode }}&search_word={{ search_word}}">{{ page_num }}</button>
    </li>
    {% endfor %}
    <li class="page-item {{ '' if pagination.has_next_page else 'disabled' }}">
      <button type="submit" class="page-link"
        formaction="/manag/manag_read/{{ pagination.next_page }}?key_name={{ request._query_params.key_name|urlencode }}&search_word={{ search_word }}">다음</button>
    </li>
    <li class="page-item {{ '' if pagination.has_next_block else 'disabled' }}">
      <button type="submit" class="page-link" formaction="/manag/manag_read/{{ pagination.last_page }}?key_name={{ request._query_params.key_name|urlencode }}&search_word={{ search_word }}">
        맨 끝
      </button>
    </li>
  </ul>
</nav>
</form>
{% endblock %}
